# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter specific
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_project.pbxproj
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_module.framework/
**/ios/Flutter/flutter_module.ld
**/ios/Flutter/flutter_module.podspec
**/ios/Flutter/flutter_module.vcxproj
**/ios/Flutter/flutter_module.vcxproj.filters
**/ios/Flutter/flutter_module.vcxproj.user
**/ios/Flutter/flutter_module.xcodeproj/
**/ios/Flutter/flutter_module.xcworkspace/
**/ios/Flutter/flutter_module.xcworkspace/contents.xcworkspacedata
**/ios/Flutter/flutter_module.xcworkspace/xcshareddata/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/UserInterfaceState.xcuserstate
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/WorkspaceSettings.xcsettings
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/Breakpoints_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/WatchpointActions_v2.xcbkptlist
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger.xcdebugger/
**/ios/Flutter/flutter_module.xcworkspace/xcuserdata/.xcuserdatad/xcdebugger/xcdebugger.xcdebugger.xcdebugger.x
