<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4wgRofLnTrJkfMxqCs-b7USXHHWpPCTI</string>
	<key>GCM_SENDER_ID</key>
	<string>299976161637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fabioalvaro.morango</string>
	<key>PROJECT_ID</key>
	<string>teste123-8236a</string>
	<key>STORAGE_BUCKET</key>
	<string>teste123-8236a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299976161637:ios:78786e4f2260a6e962898c</string>
</dict>
</plist>